/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --ifm-font-family-monospace: "Montserrat", sans-serif;
  --ifm-font-family-base: "Montserrat", sans-serif;
}

/* You can override the default Infima variables here. */
:root {  
  --ifm-color-primary-darkest: #26133f;
  --ifm-color-primary-darker: #4c277e;
  --ifm-color-primary-dark: #3f2068;
  --ifm-color-primary: #562b8e;
  --ifm-color-primary-light: #773ec2;
  --ifm-color-primary-lighter: #8749d8;
  --ifm-color-primary-lightest: #a25aec;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary-darkest: #6238a3;
  --ifm-color-primary-darker: #7449b8;
  --ifm-color-primary-dark: #8759cc;
  --ifm-color-primary: #9f6de0;
  --ifm-color-primary-light: #b07bf4;
  --ifm-color-primary-lighter: #c190f8;
  --ifm-color-primary-lightest: #d3a5fd;
}

html[data-theme='light'] {
  --ifm-background-color: #f3f3f5;
  --ifm-color-emphasis-0: #fafafa;
  --ifm-color-emphasis-100: #e0e0e2;
  --ifm-color-emphasis-200: #b0b0b3;
  --ifm-color-emphasis-300: #78787c;
  --ifm-link-color: #6f5ca0;
  --ifm-link-hover-color: #594d8a;

  --ifm-background-color-rgb: 243, 243, 245;
  --ifm-color-emphasis-0-rgb: 250, 250, 250;
  --ifm-color-emphasis-100-rgb: 224, 224, 226;
  --ifm-color-emphasis-200-rgb: 176, 176, 179;
  --ifm-color-emphasis-300-rgb: 120, 120, 124;

  --ifm-color-secondary-darkest: #53535a;
  --ifm-color-secondary-darker: #6e6e76;
  --ifm-color-secondary-dark: #898992;
  --ifm-color-secondary: #a4a4ae;
  --ifm-color-secondary-light: #bfbfc9;
  --ifm-color-secondary-lighter: #d9d9e4;
  --ifm-color-secondary-lightest: #f3f3ff;

  --ifm-color-success-darkest: #2f6445;
  --ifm-color-success-darker: #418052;
  --ifm-color-success-dark: #54a260;
  --ifm-color-success: #6dc474;
  --ifm-color-success-light: #87d688;
  --ifm-color-success-lighter: #a1e89c;
  --ifm-color-success-lightest: #bbfbb0;

  --ifm-color-info-darkest: #2f4861;
  --ifm-color-info-darker: #416384;
  --ifm-color-info-dark: #547fa8;
  --ifm-color-info: #6a9bcc;
  --ifm-color-info-light: #83b7df;
  --ifm-color-info-lighter: #9cd4f2;
  --ifm-color-info-lightest: #b6f1ff;

  --ifm-color-warning-darkest: #644f2f;
  --ifm-color-warning-darker: #896c40;
  --ifm-color-warning-dark: #ae8a52;
  --ifm-color-warning: #d3a963;
  --ifm-color-warning-light: #e9c074;
  --ifm-color-warning-lighter: #fcd886;
  --ifm-color-warning-lightest: #ffef97;

  --ifm-color-danger-darkest: #642f2f;
  --ifm-color-danger-darker: #894141;
  --ifm-color-danger-dark: #ae5353;
  --ifm-color-danger: #d36666;
  --ifm-color-danger-light: #e98383;
  --ifm-color-danger-lighter: #fd9fa0;
  --ifm-color-danger-lightest: #ffbcbc;
}

html[data-theme='dark'] .footer {
  background-color: #292929;
}

html[data-theme='light'] .footer {
  background-color: rgba(var(--ifm-color-emphasis-100-rgb), 0.151);
  color: var(--ifm-color-primary-dark);
}

html[data-theme='light'] .footer .footer__link-item {
  color: var(--ifm-link-color);
}

html[data-theme='light'] .footer .footer__title {
  color: var(--ifm-color-primary-darker);
}

html[data-theme='light'] .button--secondary {
  background-color: var(--ifm-color-emphasis-100);
  color: #2c2c2c;
}

html[data-theme='light'] .button--secondary:hover {
  background-color: var(--ifm-color-emphasis-200);
  color: #2c2c2c;  
}

html[data-theme='light'] .navbar {
  background-color: var(--ifm-background-color);
  border-bottom: 1px solid var(--ifm-color-emphasis-100);
}

.prism-code {
    transition: box-shadow 0.0s;
}

html[data-theme='light'] .alert {
  box-shadow: 0 0.18rem 0.31rem rgba(0, 0, 0, 0.05);
}

html[data-theme='light'] .details {
  box-shadow: 0 0.18rem 0.31rem rgba(0, 0, 0, 0.05);
}

html[data-theme='light'] .prism-code {
  border: 0.03rem solid rgba(var(--ifm-color-emphasis-200-rgb), 0.1);
  box-shadow: 0 0.18rem 0.31rem rgba(0, 0, 0, 0.05);
}

html[data-theme='dark'] .alert {
  box-shadow: 0 0.18rem 0.31rem rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] .details {
  box-shadow: 0 0.18rem 0.31rem rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] .prism-code {
  border: 0.03rem solid rgba(62, 62, 66, 0.3);
  box-shadow: 0 0.18rem 0.31rem rgba(0, 0, 0, 0.2);
}

html[data-theme='light'] .token {
  color: var(--ifm-color-primary-darker);
}

html[data-theme='light'] .token.comment,
html[data-theme='light'] .token.prolog,
html[data-theme='light'] .token.doctype,
html[data-theme='light'] .token.cdata {
  color: var(--ifm-color-secondary-dark); 
}

html[data-theme='light'] .token.punctuation {
  color: var(--ifm-color-emphasis-300);
}

html[data-theme='light'] .token.operator,
html[data-theme='light'] .token.boolean,
html[data-theme='light'] .token.number {
  color: var(--ifm-color-primary);
}

html[data-theme='light'] .token.property,
html[data-theme='light'] .token.tag,
html[data-theme='light'] .token.string,
html[data-theme='light'] .token.selector,
html[data-theme='light'] .token.attr-name {
  color: var(--ifm-color-primary-light);
}

html[data-theme='light'] .token.function {
  color: var(--ifm-color-emphasis-200);
}

html[data-theme='light'] .token.keyword {
  color: var(--ifm-color-primary-lighter);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
