/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --ifm-font-family-monospace: "Montserrat", sans-serif;
  --ifm-font-family-base: "Montserrat", sans-serif;
}


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #562b8e;
  --ifm-color-primary-dark: #4c277e;
  --ifm-color-primary-darker: #3f2068;
  --ifm-color-primary-darkest: #26133f;
  --ifm-color-primary-light: #6735a8;
  --ifm-color-primary-lighter: #773ec2;
  --ifm-color-primary-lightest: #8749d8;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #9f6de0;
  --ifm-color-primary-dark: #4c277e;
  --ifm-color-primary-darker: #3f2068;
  --ifm-color-primary-darkest: #9f6de0;
  --ifm-color-primary-light: #6735a8;
  --ifm-color-primary-lighter: #773ec2;
  --ifm-color-primary-lightest: #8749d8;
}

html[data-theme='dark'] .footer {
  background-color: #292929;
}

html[data-theme='light'] .footer {
  background-color: #fafafa;
}

html[data-theme='light'] .footer .footer__link-item {
  color: #000000;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
