@keyframes glow-effect {
    0%, 100% {
      text-shadow: none;
    }
    20% {
      text-shadow: 0 0 0.618rem var(--ifm-color-primary-lightest);
    }
  }
  
  @keyframes glow-effect-dark {
    0%, 100% {
      text-shadow: none;
    }
    20% {
      text-shadow: 0 0 0.618rem rgba(255, 255, 255, 0.618);
    }
  }
  
  .leaderboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 61.8rem;
    margin: 1.618rem auto;
  }
  
  .user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background: #FAFAFA;
    border: 2px solid var(--ifm-color-primary);
    box-shadow: 0rem 0.154rem 0.618rem rgba(0, 0, 0, 0.08);
    border-radius: 0.618rem;
    transition: box-shadow 0.3s;
  }
  
  .user-card:hover {
    box-shadow: 0 0.381rem 1.008rem rgba(0, 0, 0, 0.15);
  }
  
  .avatar-container {
    display: flex;
    align-items: center;
  }
  
  .ranking {
    font-weight: bold;
    margin-right: 10px;
    animation: glow-effect 1.6s ease-in-out 1 forwards;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .username {
    font-size: 1.008rem;
    font-family: var(--ifm-font-family-base);
    color: #333333;
  }
  
  .translated-words {
    font-size: 1.008rem;
    font-family: var(--ifm-font-family-base);
    color: #333333;
    text-align: right;
  }
  
  /* Dark mode adjustments */
  html[data-theme='dark'] .user-card {
    background-color: #292929; /* Black background in dark mode */
    border-color: var(--ifm-color-primary-lighter);
    box-shadow: 0rem 0.077rem 0.304rem rgba(255, 255, 255, 0.08);
  }
  
  html[data-theme='dark'] .ranking {
    animation: glow-effect-dark 1.6s ease-in-out 1 forwards;
  }
  
  html[data-theme='dark'] .username,
  html[data-theme='dark'] .translated-words {
    color: rgba(255, 255, 255, 0.87);
  }
  