on:
    schedule:
        - cron: '0 0 * * *'
    push:
        branches:
            - main

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build website
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./build
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
  contributors:
    name: A job to automate contrib in readme
    runs-on: ubuntu-latest
    steps:
        - name: Contribute List
          uses: akhilmhdh/contributors-readme-action@v2.3.4
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
